# #################### #
#  Кэш и Базы данных   #
# #################### #
/data/
/users.db-journal
/schedule_hash.txt

# Файл кэша с расписанием
full_schedule_cache.json

# Файл базы данных SQLite с данными пользователей
users.db
users.db-journal # Временный файл SQLite

# #################### #
# Файлы окружения Python #
# #################### #

# Виртуальные окружения
venv/
.venv/
env/
.env/

# Файлы скомпилированного Python
*.pyc
__pycache__/

# #################### #
# Секретные файлы      #
# #################### #

# Файл с переменными окружения (содержит токен!)
# В репозиторий должен попасть только .env.example
.env

# #################### #
# Файлы IDE и редакторов #
# #################### #

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# #################### #
#  Файлы macOS         #
# #################### #
.DS_Store

# #################### #
#  Логи и отчеты       #
# #################### #
code_collector.py
*.txt
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.pytest_cache/